@import 'variables';

$footerHeight: 20px;

footer {
  position: fixed;
  bottom: -$footerHeight;
  left: 0;
  right: 0;
  height: $footerHeight;
  transition: .3s cubic-bezier(0.24, 0.47, 0.45, 0.94);

  &.primary-background {
    background-color: $lightPrimary;
  }

  &.in {
    bottom: 0;
  }
}