<div class="page">
  <div class="container-fluid">

    <!-- Apps list -->
    <div class="row">
      <div class="col">
        <div class="panel">

          <!-- Header -->
          <div class="row mb-3">
            <div class="col-6">
              <h1 class="panel-label">New App</h1>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-8">

              <!-- Create new app form -->
              <form (onsubmit)="createApp()">
                <div class="form-group">
                  <label for="appNameInput">App name*</label>
                  <input type="text" class="form-control" id="appNameInput" required 
                    [(ngModel)]="app.name" placeholder="My New Project">
                  <small class="form-text text-muted">It's fine to have spaces</small>
                </div>
                <div class="form-group">
                  <label for="appDescriptionInput">App description</label>
                  <textarea class="form-control" id="appDescriptionInput" placeholder="About my new project" rows="3" cols=""></textarea>
                </div>
                <a type="button" class="btn btn-secondary" [routerLink]="'../list'">Cancel</a>
                <button type="submit" class="btn btn-primary" [disabled]="isCreatingApp">Add App</button>
              </form>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
