<div class="page">
  <div class="container-fluid">

    <!-- Apps list -->
    <div class="row">
      <div class="col">
        <div class="panel">

          <!-- Header -->
          <div class="row mb-3">
            <div class="col-6">
              <h1 class="panel-label">New App</h1>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-8">

              <!-- Create new app form -->
              <form #createAppForm="ngForm" (ngSubmit)="createApp(createAppForm)" [class.was-validated]="createAppForm.submitted" novalidate>
                <fieldset [disabled]="isCreatingApp">
                  <div class="form-group">
                    <label for="appNameInput">App name*</label>
                    <input #name="ngModel" id="appNameInput" type="text" name="name" class="form-control" [(ngModel)]="app.name" placeholder="My New Project"
                      required minlength="2" maxlength="120">
                    <small class="form-text text-muted">It's fine to have spaces</small>
                    <div *ngIf="!name.valid && createAppForm.submitted" class="invalid-feedback">
                      <i class="far fa-exclamation-triangle"></i>
                      Name is required and must be between 2 and 120 characters long
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="appDescriptionInput">App description</label>
                    <textarea #description="ngModel" id="appDescriptionInput" name="description" class="form-control" placeholder="About my new project"
                      rows="3" cols="" [(ngModel)]="app.description" minlength="2" maxlength="400">
                    </textarea>
                  </div>
                  <hr>
                  <label>Application Type</label>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="applicationType" id="webapp-radio" 
                        [value]="'webapp'" [(ngModel)]="app.type" checked> 
                      Web User Interface Application
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="applicationType" id="webservice-radio" 
                        [value]="'api'" [(ngModel)]="app.type"> 
                      Web Service
                    </label>
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="errorCreatingApp">
                    <i class="far fa-exclamation-triangle"></i>
                    Sorry, there was an error creating this new app.
                  </div>
                  <hr>
                  <a type="button" class="btn btn-secondary" [routerLink]="'../list'">Cancel</a>
                  <button type="submit" class="btn btn-primary">
                    <i class="far fa-spinner-third" *ngIf="isCreatingApp"></i>
                    Create App
                  </button>
                </fieldset>
              </form>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>