<div class="page">
  <div class="container-fluid">

    <!-- Apps list -->
    <div class="row">
      <div class="col">
        <div class="panel">

          <!-- Header -->
          <div class="row mb-3">
            <div class="col-6">
              <h1 class="panel-label">All Apps</h1>
            </div>
            <div class="col-6 text-right">
              <button class="btn btn-primary btn-sm">
                <i class="far fa-plus-circle"></i> New App</button>
            </div>
          </div>

          <!-- Table -->
          <div class="row">
            <div class="col">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Short Description</th>
                    <th scope="col">Application Type</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Customer Billing Area</td>
                    <td>The app where customers and partners can pay their bills.</td>
                    <td>Web Application</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>Customer Services Area</td>
                    <td>Where customers manage their services.</td>
                    <td>Web Application</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>Partner Portal</td>
                    <td>Where partners manage their own partners.</td>
                    <td>Web Application</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>