<header>
  <div id="left-header">
    <div id="corner-logo">
      <img width="32px" height="20px" src="assets/eastackLogo.jpg" alt="eaStack Logo">
    </div>
    <div id="left-header-options">
      <i class="far fa-compass" tooltip="Main Sections" placement="right"></i>
      <i class="far fa-search" tooltip="Search..." placement="right"></i>
      <i class="far fa-cog" tooltip="Workspace Settings" placement="right"></i>
      <i class="far fa-ellipsis-h-alt" tooltip="More Options..." placement="right"></i>
    </div>
  </div>
  <div id="right-header">
      <i class="far fa-user" tooltip="My Settings..." placement="bottom"></i>
  </div>
</header>